* {
    font-family: 'Roboto', sans-serif;
}

/*black background */
.bb {
    background-color: #1f2937;
}

/*bright white text*/
.wt {
    color: #f9faf8;
}

/*hero-secondary and header-link text*/
.owt {
    color: #e5e7eb;
    font-size: 18px;
}

/*extra-bold text*/
.ebt {
    font-weight: 900;
}


/*start of actual stuff */

.page {
    display: flex;
    flex-direction: column;
}


/*hero section*/

.hero {
    margin: 0px 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.openBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    gap: 30px;
}

.heroText {
    font-size: 48px;
}

.hLogo {
    font-size: 24px;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 30px;
    width: 127px;
    border-radius: 8px;
    border-color: #3882f6;
}

.heroImg {
    width: 600px;
    height: 300px;
}

.leftOpen {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*section 2 Some random info */

.randInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0px 5px;
}

.imgBoxes {
    display: flex;
    gap: 16px;
    margin-bottom: 145px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.sec2Title {
    font-size: 36px;
    color: #1f2937;
    padding: 18px;
}

.randImg, .imgBox {
    width: 200px;
    height: 200px;
}


.imgBox {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.randSubtext {
    font-size: 18px;
    color:#1f2937;
}

/*section 3 the quote box */



.sec3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px;
    max-width: 1100px;
    gap: 8px;
}

.quote {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.qSpeaker {
    font-weight: 600;
    color: #1f2937;
    font-size: 24px;
    align-self: flex-end;
}

/* section 4 */

.c2a {
    background-color: #3882f6;
    display: flex;
    margin: 100px 400px;
    padding: 60px 30px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.c2a button {
    border-color: #f9faf8;
}

.c2aSubtext {
    font-size: 18px;
    margin-top: 2px;
}

.c2aTitle {
    font-size: 24px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: 18px;
    padding: 40px 0px;
}